.fixed-top {
  left: revert !important;
  width: 75% !important;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 25%;
}
.content {
  margin-top: 10%;
}

.card-img, .card-img-top {
 height: 250px; 
}

.desc {
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}