html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar{
  width: 250px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  height: 100%;
  position: fixed;
  z-index: 2;
}

.sidebar .profile{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.sidebar .profile .profile-img{

}
.sidebar .profile .profile-name{
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.sidebar .menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.sidebar .menu .item{
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
}

.content{
  margin-left: 250px;
}

.content .navbar{
  background-color: white;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  height: 80px;
  width: calc(100% - 250px);
  position: fixed;
  z-index: 1;
  top: 0px;
}

.content .navbar .navbar-item{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.content .navbar .navbar-item li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.content .navbar .search-wrapper{
  flex: 1;
  display: flex;
  justify-content: center;
}

.content .navbar .search-wrapper .input-search{
  width: 60%;
  height: 30px;
  border-radius: 40px;
  border: 1px solid #888;
  padding-left: 20px;
  padding-right: 20px;
}

.content .navbar .search-wrapper .input-search:focus{
  outline: none;
}

.content .navbar .brand{
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.content .navbar .brand .text{
  font-weight: bold;
  font-size: 25px;
}

.content .container{
  padding: 30px;
  margin-top: 80px;
}

.content .container .list-book{
  display: flex;
}

.content .container .list-book .card{
  box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
  margin: 20px;
  border-radius: 10px;
}

.content .container .list-book .card .card-image{
  background-color: #888;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content .container .list-book .card .card-text{
  padding: 15px;
}

.content .container .list-book .card .card-text .title{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}