html, body, #root{
  width: 100%;
  height: 100%;
}

.login-cover{
  background-image: url('../../img/bg.png');
  background-size: contain;
}

.login-overlay{
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
}