.banner-cover {
  width: 100%;
  height: 75%;
  max-height: 750px;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(0.2);
}