header {
    nav {
      display: flex;
      padding: 10px 20px;
      background-color: white;
      position: relative;
        .brand img {
            width: 50px;
        }
    }
}

.search input {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  // text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.search input:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.search input::placeholder {
  color: #cccccc;
}

.search input {
  border: 1px solid #cdcdcd;
  padding: 10px 5px;
  margin-top: 5px;
  margin-left: 50px;
  width: 500px;
}

.nav-auth {
  margin-top: 5px;
  margin-left: auto;
}

.btn-outline-primary {
  font-weight: bold;
  color: #4486f7;
  background-color: white;
  border-radius: 5px;
  padding: 9px 25px;;
}

.btn-primary {
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  background-color: #4486f7;
}