html, body, #root {
  height: 100%;
}

h1 {
  color: $dark;
}

p {
  color: $gray;
}

a:hover {
  text-decoration: none !important;
}

section {
    margin: 100px 0px;
}

.btn-primary,
.btn-outline-primary:hover {
  color: white !important;
}

.sticky-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.nav-margin-md {
  margin-top: 200px;
}

.nav-margin-lg {
  margin-top: 130px;
}
